[package]
name = "stoat_bin"
version = "0.1.0"
edition = "2021"
description = "An exploration into a canvas based, relational and structured text editor."
readme = "../README.md"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[[bin]]
name = "stoat"
path = "src/bin/stoat.rs"

[lib]
name = "stoat_bin"
path = "src/lib.rs"

[features]

[lints]
workspace = true

[dependencies]
stoat = { path = "../stoat" }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
clap.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true }

[dev-dependencies]
tempfile = "3.8"
