[package]
name = "stoat_bin"
version = "0.1.0"
edition = "2021"
description = "An exploration into a relational and structured text editor."
readme = "../README.md"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[[bin]]
name = "stoat"
path = "src/bin/stoat.rs"

[lib]
name = "stoat_bin"
path = "src/lib.rs"

[features]
default = ["gui", "dev-tools"]
gui = ["stoat"]
dev-tools = ["stoat/dev-tools"]

[lints]
workspace = true

[dependencies]
stoat = { path = "../stoat", optional = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
clap = { workspace = true, features = ["derive"] }
serde_json = "1.0"
tracing.workspace = true
tracing-subscriber = { workspace = true }

[dev-dependencies]
tempfile = "3.8"
