[package]
name = "stoat_bin"
version = "0.1.0"
edition.workspace = true
publish.workspace = true
readme = "../README.md"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[[bin]]
name = "stoat"
path = "src/bin/stoat.rs"

[lib]
name = "stoat_bin"
path = "src/lib.rs"

[lints]
workspace = true

[dependencies]
stoat = { path = "../stoat" }
clap.workspace = true
tracing.workspace = true
