[workspace]
resolver = "2"
members = ["bin", "stoat", "log"]

[workspace.package]
edition = "2021"
publish = false

[workspace.lints.clippy]
all = "warn"
unwrap_used = "warn"

[workspace.lints.rust]
rust_2018_idioms = "warn"
unused_lifetimes = "warn"
unused_qualifications = "warn"

[workspace.dependencies]
snafu = "0.8"
anyhow = "1.0"
thiserror = "1.0"
tracing = "0.1"
clap = { version = "4.5", features = ["derive", "env"] }
tracing-subscriber = { version = "0.3", features = [
  "parking_lot",
  "env-filter",
] }
serde = { version = "1.0", features = ["derive"] }
dirs = "5.0"
ratatui = "0.30.0"
crossterm = "0.29"
compact_str = "0.8"

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3
