[package]
name = "stoat"
version = "0.1.0"
edition = "2021"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[features]
gui = []

[dependencies]
clap = { workspace = true, features = ["derive"] }
smallvec = { workspace = true }
parking_lot = { workspace = true }
stoat_rope = { path = "../rope" }
stoat_text = { path = "../text" }
text = { workspace = true }
gpui = { workspace = true }
enum_dispatch = "0.3"
sum_tree = { workspace = true }
fuzzy = { workspace = true }
ignore = "0.4"
thiserror = { workspace = true }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
anyhow.workspace = true
once_cell = "1.20"
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"
git2 = { version = "0.20", default-features = false, features = [
  "vendored-libgit2",
  "vendored-openssl",
] }

[dev-dependencies]
gpui = { workspace = true, features = ["test-support"] }
tempfile = "3.12"
