[package]
name = "stoat"
version = "0.1.0"
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
stoat_log = { path = "../log" }
ratatui.workspace = true
crossterm.workspace = true
tracing.workspace = true
