[package]
name = "stoat"
version = "0.1.0"
edition = "2021"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[features]
gui = []

[dependencies]
clap = { workspace = true, features = ["derive"] }
stoat_rope_v3 = { path = "../rope_v3" }
text = { git = "https://github.com/zed-industries/zed.git" }
gpui = { git = "https://github.com/zed-industries/zed.git" }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[dev-dependencies]
gpui = { git = "https://github.com/zed-industries/zed.git", features = [
  "test-support",
] }
