[package]
name = "stoat"
version = "0.1.0"
edition = "2021"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[features]
gui = []

[dependencies]
clap = { workspace = true, features = ["derive"] }
smallvec = { workspace = true }
parking_lot = { workspace = true }
stoat_rope_v3 = { path = "../rope_v3" }
stoat_text_v3 = { path = "../text_v3" }
text = { workspace = true }
gpui = { workspace = true }
enum_dispatch = "0.3"
sum_tree = { workspace = true }
fuzzy = { workspace = true }
ignore = "0.4"
thiserror = { workspace = true }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
anyhow.workspace = true
once_cell = "1.20"
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"

[dev-dependencies]
gpui = { workspace = true, features = ["test-support"] }
