[package]
name = "stoat"
version = "0.1.0"
edition = "2021"
authors = ["Lee Olayvar <leegit@fastmail.com>"]
license-file = "../LICENSE"

[features]
gui = []

[dependencies]
clap = { workspace = true, features = ["derive"] }
