# Stoat V4 Minimal Keymap
#
# Simplified keymap containing only implemented actions for v4

[[modes]]
name = "normal"
display_name = "NORMAL"

[[modes]]
name = "insert"
display_name = "INSERT"

# Normal Mode - Basic vim navigation
[[bindings]]
key = "h"
action = "MoveLeft"
context = "Editor && mode == normal"

[[bindings]]
key = "j"
action = "MoveDown"
context = "Editor && mode == normal"

[[bindings]]
key = "k"
action = "MoveUp"
context = "Editor && mode == normal"

[[bindings]]
key = "l"
action = "MoveRight"
context = "Editor && mode == normal"

[[bindings]]
key = "i"
action = "EnterInsertMode"
context = "Editor && mode == normal"

[[bindings]]
key = "escape"
action = "EnterNormalMode"
context = "Editor && mode == insert"

# Insert Mode - Arrow key navigation
[[bindings]]
key = "left"
action = "MoveLeft"
context = "Editor && mode == insert"

[[bindings]]
key = "right"
action = "MoveRight"
context = "Editor && mode == insert"

[[bindings]]
key = "up"
action = "MoveUp"
context = "Editor && mode == insert"

[[bindings]]
key = "down"
action = "MoveDown"
context = "Editor && mode == insert"

[[bindings]]
key = "backspace"
action = "DeleteLeft"
context = "Editor && mode == insert"
